.footer {
    position: relative;
    border-top: 5px solid #FFDCAE;
    display: flex;
    justify-content: center;
}

.background-header {
    position: absolute;
    background-color: transparent;
    filter:blur(15px);
    width: 100%;
    height: 100%;
}

.footer p {
    z-index: 1;
    padding-top: 20px;
}