.search-form {
    padding-top: 50px;
    display: flex;
    justify-content:center;
    gap: 25px;
}

.mb-3 {
    width: 500px;
    height: fit-content;
}

.submit {
    background-color: #FFDCAE;
    border: none;
    color: black;
    height: 59px;
}

.submit:hover {
    background-color: #CED89E;
    border: none;
    color: black;
}

.row {
    display:flex;
    justify-content: center;
    gap: 10px;
}
